@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #efcfd6;
    color: #000000;
    padding: 5px 0;
    text-align: center;
}

.cruelty-free {
    font-size: 14px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px; /* Ajuste para los márgenes laterales */
}

.account-button,
.header-buttons {
    display: flex;
    align-items: center;
}

.account-button a img,
.header-buttons a img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    transition: all 0.3s ease;
    position: relative;
}

.account-button a img:hover,
.header-buttons a img:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el mouse */
}

.account-button a img::after,
.header-buttons a img::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFD700;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.account-button a img:hover::after,
.header-buttons a img:hover::after {
    width: 100%;
}

.logo-container {
    text-align: left; /* Alinear el logo a la izquierda */
    margin-left: 80px; /* Ajustar la cantidad de desplazamiento hacia la izquierda */
    margin-top: -90px;
    margin-bottom: -100px; /* Reducir el espacio entre el logo y el menú */
}

.logo {
    max-height: 370px; /* Ajustar la altura según sea necesario */
}

.navbar {
    background-color: #ffffff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin-right: 20px;
    position: relative;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #efcfd6;
}

.menu ul li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FFD700;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.menu ul li a:hover::after,
.menu ul li a:focus::after {
    width: 100%;
}

.mobile-menu {
    display: none;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.mobile-menu-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.mobile-menu-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.mobile-menu-list li a {
    text-decoration: none;
    color: #333;
}

.mobile-menu-list li a:hover {
    color: #ff69b4;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .header-content {
        flex-direction: column;
    }

    .account-button,
    .header-buttons {
        justify-content: center;
        margin-bottom: 10px;
    }

    .header-buttons a img {
        margin: 30px;
    }
}

/* Class to show the mobile menu */
.show {
    display: block;
}
