@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    min-height: 100vh; 
    background-color: #ffe9f1;
}

.logo-container {
    margin-top: -100px; 
    margin-bottom: -140px; 
}

.logo {
    max-height: 500px;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-form h2 {
    margin-bottom: 10px;
    color: #e91e63;
    font-size: 1.5rem;
}

.input-form input[type="email"],
.input-form input[type="password"],
.input-form input[type="text"] {
    padding: 12px;
    border: 1px solid #e91e63;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.input-form input[type="email"]:focus,
.input-form input[type="password"]:focus,
.input-form input[type="text"]:focus {
    border-color: #ff80ab;
}

.input-form button {
    padding: 12px;
    background-color: #e91e63;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.input-form button:hover {
    background-color: #ff80ab;
}

.message {
    color: #e91e63; 
    font-size: 0.875rem;
    margin-top: 10px;
}

.message.error {
    color: red;
}

p {
    font-size: 0.875rem;
}
